
.intro_pic {
  width: 98.9vw;
  height: 100vh;
  background-image: url(../ABG-construction/images/intro_pic.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.intro_content {
  margin-bottom: 300px;
  color: white;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.intro_content p {
  font-size: 10vmin;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.span {
  color: blue;
}

.p {
  font-size: 7vmin;
  margin-top: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bolder;
}

.slide {
  height: auto;
}

.services {
  text-align: center;
  font-size: 3vmin;
  color: #000000;
  margin-top: 40px;
}

.content_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 39px;
  margin-top: 20px;
}

.pic_holder {
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
}

.pic_holder img {
  width: 100%;
  height: 69%;
  object-fit: cover;
  transition: transform .5s ease;
}

.pic_holder img:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.content {
  padding: 10px;
}

.content h2 {
  font-size: 25px;
  margin-bottom: 10px;
  color: blue;
}

.content p {
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: .5px;
  margin-bottom: 20px;

}




