
.intro_pic {
  width: 98.9vw;
  height: 100vh;
  background-image: url(../ABG-construction/images/intro_pic.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.intro_content {
  margin-bottom: 300px;
  color: white;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.intro_content p {
  font-size: 10vmin;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.span {
  color: blue;
}

.p {
  font-size: 7vmin;
  margin-top: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bolder;
}

.slide {
  height: auto;
}

.services {
  text-align: center;
  font-size: 3vmin;
  color: #000000;
  margin-top: 40px;
}

.content_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 39px;
  margin-top: 20px;
}

.pic_holder {
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
}

.pic_holder img {
  width: 100%;
  height: 69%;
  object-fit: cover;
  transition: transform .5s ease;
}

.pic_holder img:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.content {
  padding: 10px;
}

.content h2 {
  font-size: 25px;
  margin-bottom: 10px;
  color: blue;
}

.content p {
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: .5px;
  margin-bottom: 20px;

}

.cu_container {
  width: 100%;
  height: auto;
  padding-bottom: 4%;
  background-color: blue;
}
.cu_container h2 {
  color: #dddcdc;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  padding: 15px;
}
.cu-content {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: lightblue;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
  max-width: 600px; /* Optional: to limit the form width */ margin: 0 auto; /* Center the form container */
}
.forms p {
  color: #ffffff;
  font-size: 19px;
  letter-spacing: .5px;
  word-spacing: 1px;
  margin-left: 20px;
  text-align: center;
  border: none;
  outline: none;
  background-color: blue;
  padding: 10px;
  border-radius: 1px;
  color: #fff;
  border-radius: 10px;

}
.forms label .input {
  width: 300px;
  max-width: 300px;
  padding: 10px;
  outline: 0;
  border-radius: 1px;
  border: solid blue 2px;
}
.forms .submit {
  width: 100%;
  max-width: 300px;
  border-radius: 10%;
  
}
.submit {
  border: none;
  outline: none;
  background-color: blue;
  padding: 10px;
  border-radius: 1px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  margin-top: 10px;
}
.submit:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-weight: 400;
}
.contacts {
  width: 100%;
  text-align: center; /* Center text */
}
.contacts .text {
  margin: 10px 0;
}
.contacts span {
  font-size: 50px;
  color: blue;
  margin: 2px;
}
.contacts h4 {
  color: #fff;
  font-size: 28px;
  letter-spacing: 1px;
}
.contacts p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}





